/*--- Theme Components ---*/
.left-bar{
    background:rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 2% 1%;
    color: white;
    border-left: 4px solid black;
}

.right-bar{
    background:rgb(39, 38, 38);
    display: flex;
    flex-direction: column;
    flex: 2;
    padding: 2% 1%;
    color: white;
    border-right: 4px solid black;
}

.center{
    background: rgb(31, 30, 30);
    display: flex;
    flex-direction: column;
    flex: 8;
    overflow-y: auto;
}

/*--- Utilities ---*/
.container{
    margin: 3% 7%;
    padding: 0.5% 1.5%;
    background-color: #db0000;
}

.booster{
    border-radius: 20px;
    padding: 0.2% 1.0%;
    background-image: none;
    background-color: whitesmoke;
    width: 75%;
    height: 30%;
    align-self: center;
    text-align: center;
    justify-content: center;
}

.booster:hover{
    opacity: 0.85;
}

/* @TODO  DEPRICATED*/
.footer{
    position: relative;
    bottom: 1%;
    left: 1%;
    right: 1%;
    padding: 2% 1%;
    background-color: red;
}

