#search-input{
    border: 2px solid #E50914;
    align-self: center;
    height: 1.5rem;
    width: 85%;
    color: white;
    align-self: center;
    padding-left: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

form{
    margin:0;
    padding:0;
}